/*body{
  background: blue;
}*/

.form-group{
  margin-top: 8px;
}

.form-control{
  padding-top: 8px;
  margin-top: 8px;
}

.form-bordered{
  border: 3px solid #f7f7f9;
  padding: 20px;
}
 

form.form-bordered button.btn{
  margin-top: 8px;
}